{% extends 'authentication/email/layout.html' %}

{% block content %}

    <h2 style="text-align: center; margin-top: 0">Account Deactivation</h2>
    <p style="text-align: center">
        Hi {{ first_name }}, we received a request to deactivate your account!
        <br>If you requested it click below to finalize it:
    </p>
    <div class="center" style="text-align: center; margin: 24px 0">
        <a href="{{ deactivate_link }}" style="font-size: 1.2rem; background-color: #dc3545; padding: 6px 12px; border-radius: 0; text-decoration: none; color: black">
            Deactivate
        </a>
        <p style="margin-bottom: 0">If you are not able to click the button copy and paste this link:</p>
        <a href="{{ deactivate_link }}">{{ deactivate_link }}</a>
        <p>This link is only valid until: <strong>{{ expiry_date }} <a href="https://www.google.com/search?q=utc+time+converter">UTC</a></strong></p>
    </div>
    <p style="text-align: center">
        <strong>
            If you did not request the account deactivation you can safely ignore this email.
            <br>Only a person with access to your email can deactivate your account.
        </strong>
    </p>

{% endblock content %}