<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table style="background-color: #1f1f1f; color: white; margin: auto; max-width: 90%">
        <tr>
            <td style="text-align: center; padding: 0.2rem; background-color: #121212">
                <h1 style="margin: 0"><img src="cid:logo" alt="SmartCook Logo" width="32" height="32">SmartCook</h1>
            </td>
        </tr>
        <tr>
            <td style="padding: 12px 24px">
                {% block content %}{% endblock content %}
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 0.2rem; background-color: #121212">
                <p>&copy;SmartCook 2023</p>
            </td>
        </tr>
    </table>
</body>
</html>