{% extends 'authentication/email/layout.html' %}

{% block content %}

    <h2 style="text-align: center; margin-top: 0">Your password was changed successfully</h2>
    <p style="text-align: left">
        Dear {{ first_name }},
        <br>we would like to notify you, that your account password was successfully changed! If you changed it, you have nothing else to do with this email.
        <br><strong>If you did not change your password, please contact our support team as soon as possible!</strong>
    </p>

{% endblock content %}